# Server
PORT=3000
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=class_booking_dev
DB_USER=your_db_user
DB_PASSWORD=your_db_password

# PostgreSQL (Test)
DB_TEST_NAME=class_booking_test

# PostgreSQL (Production)
DATABASE_URL=
